@import url('https://v1.fontapi.ir/css/Sahel');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
  font-family: Maskh;
  src: url(/static/img/MaskhUI/Maskh.woff2);
}
@font-face {
  font-family: Andalus;
  src: url(/static/img/Andalus.woff2);
}
:root {
  font-family: Sahel, serif;
  text-align: justify;
  --gunmetal: #2b3240;
  --dark-blue: #384d6b;
  --indie-blue: color-mix(in srgb, darkslateblue, var(--dark-blue) 50%);
  --vista-blue: #838dc9;
  --tiffany-blue: #88c5c8;
  --black: #242526;
  --brown: #6c5a4b;
  --white: #f1edeb;
  --paper: #dfd4c5;

}

[data-theme='light'] {
  --primary-color: var(--indie-blue);
  --primary-background: var(--white);
  --secondary-color: var(--brown);
  --secondary-background: var(--paper);
  color: var(--gunmetal)
}

[data-theme='dark'] {
  --primary-color: var(--tiffany-blue);
  --primary-background: var(--gunmetal);
  --secondary-color: var(--vista-blue);
  --secondary-background: var(--dark-blue);
  color: var(--white)

}


:root,
* {
  font-family: Sahel, serif;
  --ifm-color-primary: var(--primary-color);
  --ifm-background-color: var(--primary-background);
  --ifm-link-color: var(--secondary-color);
  --ifm-color-white: var(--white);
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-background-color: var(--primary-background);
  --ifm-table-background: color-mix(in srgb, var(--primary-background), var(--primary-color) 4%);
  --ifm-table-stripe-background: color-mix(in srgb, var(--primary-background), var(--primary-color) 8%);
  --ifm-table-head-background: var(--ifm-table-stripe-background);
  --ifm-heading-vertical-rhythm-bottom: 0.25;
  transition: background-color 0.2s linear;
  

}

html {
  background-color: var(--primary-background);
}

.navbar__title {
  font-weight: 700;
}
.navbar svg path {
  fill: var(--primary-color);
  stroke: var(--primary-color)
}

.navbar__logo {

  display: none;
}
.navbar__title, .hero__title {
  font-family: Maskh;
  font-size: xx-large;
  line-height: 1em;
}

.navbar__link {
  font-family: Maskh;
  padding-top: 10px;

}

.markdown {
  font-family: Sahel;
}
aside a {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: Sahel;
  color: var(--primary-color);
}
b, strong {
  font-weight: 600;
}

blockquote {
  background-color: var(--secondary-background);
  padding:1em;
  border-color: var(--primary-color);
}


table td,
table th,
table tr {
  border-color: transparent !important;
}
table {
  display: contents;
}

.hero {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}

.hero h1,
.hero p {
  color: var(--ifm-color-white)
}

.hero .container {
  text-align: start;
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
  padding: 2em 4em;
  font-size: 1dvh;
  backdrop-filter: blur(10px);
  background-color: #00000022;
}
.hero h1 {
  font-size: 10dvh;
}
.hero p {
  font-size: 3dvh
}
article img {
  float: right;
  width: 20rem;
  display: inline;
  margin-inline: 1rem;
}
[data-theme='dark'] article img {
  background-color: var(--ifm-color-primary);
}
.searchbox {
  min-width: 100px;
  max-width: 250px;
  margin-inline:10px;
}
.searchbox form {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
}
.searchbox form input::placeholder{
  color: color-mix(in srgb, var(--ifm-color-primary), transparent 50%)
}
.searchbox form input:hover::placeholder{
  color: var(--primary-color)
}
.searchbox form span {
  color: var(--primary-color);
  display: inline-flex;
  z-index: -1;
  font-size: 10px;
  margin-inline-start: 5px;
}
.searchbox svg{
  width: 2em;
}
.searchbox svg path {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  stroke-width: 1;
}
.searchbox form input {
  width: 100%;
  max-width: 100%;
  border: #0008 solid 1px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff66;
  color: var(--ifm-primary-color);
}
.searchbox form input[value=''] {
  background-color: transparent;
}
.searchbox input:focus, .searchbox:has(:focus) input{
  background-color: white;
  color: black;
  outline: none;
}
.searchbox .hits {
  padding: 0;
  right:10px;
  list-style: none;
  display: none;
  margin-top: 25px;
  background-color: var(--secondary-background);
  min-width: 100px;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 10px ;
}

.searchbox:has(:focus) .hits, .searchbox:has(:focus, :active) .hits {
  display: block;
}
.searchbox .hits li {
  padding: 0;
  width: 100%;
}
.searchbox .hits a {
  text-align: start;
  box-sizing: border-box;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin: 5px;
  width: calc(100% - 10px);
  height: fit-content;
  overflow: hidden;
  text-wrap: pretty;
}
.searchbox .hits a:hover, .searchbox .hits a:focus {
  text-decoration: none;
  background-color: #00000022;
}
article tag {
  position: relative;
  color: var(--primary-color);
}
article tag:hover {
  color: var(--secondary-color);
  cursor: help;
}
article tag::after {
  content: attr(name);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  background-color: var(--secondary-background);
  color:var(--secondary-color);
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  z-index: 1;
  padding-inline: 0.5em;
  top: 0;
  left: 0%;
}
article tag:hover::after {
 top: 1.5rem;
 visibility: visible;
 opacity: 1;
 transition: all 0.1s 0.3s linear;
}